#Python
__pycachge__
*.pyc
venv/
.venv/

#env
.env

# YOLO 所有訓練結果先不傳
runs/
test/uploads/
yolov8s.pt
yolov8m.pt
yolov8n.pt
yolo11n.pt

#Flutter
.dart_tool/
build/

#VS code
.vscode/

#images
images/
labels/
1.jpg
107.jpg
500.jpg
2593.jpg
3195.jpg

#python
image.py
recommend_api.py
recommend_api1.py
server.py
server1.py
train.py
train1.py
train2.py



